/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  height: 265px;
  width: 320px;
  background-color: lightgray;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(19, 19, 19); */
  font-family: 'Roboto', serif;
}

.searchContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.hidden{
  display: none;
}

/* card container styles */


.cardContainer{
  height: 700px;
  width: 500px;
  border: 15px solid rgb(204, 178, 30);
  border-radius: 10px;
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 11px 9px 20px 2px rgba(0,0,0,0.77); 
box-shadow: 11px 9px 20px 2px rgba(0,0,0,0.77);
}

img{
  align-self: center;
  border: 15px solid rgb(186, 162, 23);
  /* -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000; */
}




/* main layout */


.nameAndHpContainer{
  display: flex;
  justify-content: space-around;
}



/* type */

.typeContainer{
  display: flex;
  justify-content: center;
}

#pokemonType{
  font-weight: bold;
}


/*abilities */

.abilityContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .ability1Container{
  
} */



.ability1Container,
.ability2Container{
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
}



/* stats */
.statsContainer{
  display: flex;
  justify-content: space-around;
}

.statsWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button { 
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

button:hover{
  cursor: pointer;
  opacity: .8;
}

/* background colors

#189aba - Water



*/